{% extends "layout.html" %}
{% block content %}
<div class="container py-4">
    <div class="card shadow-lg border-0 col-lg-8 mx-auto">
        <div class="card-header bg-warning text-dark fw-bold">
            <i class="bi bi-pencil-square"></i> Update Clinical Profile: {{ p.full_name }}
        </div>
        <form action="/edit_patient/{{ p.id }}" method="POST" class="card-body p-4">
            <div class="row g-3">
                <div class="col-md-6"><label>Full Name</label><input type="text" name="full_name" class="form-control" value="{{ p.full_name }}" required></div>
                <div class="col-md-3"><label>Weight (kg)</label><input type="number" step="0.1" name="weight" class="form-control" value="{{ p.weight }}"></div>
                <div class="col-md-3"><label>Blood Type</label><input type="text" name="blood_type" class="form-control" value="{{ p.blood_type }}"></div>
                <div class="col-md-6">
                    <label class="d-block mb-2">Gender</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" value="Male" {{ 'checked' if p.gender == 'Male' }}> <label>Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" value="Female" {{ 'checked' if p.gender == 'Female' }}> <label>Female</label>
                    </div>
                </div>
                <div class="col-md-6"><label>Date of Birth</label><input type="date" name="dob" class="form-control" value="{{ p.dob }}"></div>
                <div class="col-12"><div class="form-check"><input class="form-check-input" type="checkbox" name="immunization" {{ 'checked' if p.is_smoker == 1 }}><label>Immunization Up-to-Date</label></div></div>
                <div class="col-12"><label>Medical History</label><textarea name="notes" class="form-control" rows="4">{{ p.notes }}</textarea></div>
                <div class="col-12 mt-4 text-end">
                    <a href="/dashboard" class="btn btn-secondary me-2">Cancel</a>
                    <button type="submit" class="btn btn-warning fw-bold px-5">Save Clinical Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}